a {
  color: $blue;
  text-decoration: none;
  border: 0;
  outline: none;

  &:focus {
    border: 0;
    outline: none;
  }

  &:hover {
    color: lighten($blue, 5);
  }
}

h1 {
  font-size: em(48);
  font-weight: 300;
  line-height: 1.48;
  font-family: $titlesans;
}
h2 {
  font-size: em(36);
  line-height: 1.4;
  font-weight: 300;
  font-family: $titlesans;
}
h3 {
  font-size: em(28);
  line-height: 1.4;
  font-weight: 300;
  font-family: $titlesans;

  &.big {
    font-size: em(48);
    line-height: 1.48;
  }
}
h4 {
  font-size: em(22);
  line-height: 1.44;
  font-weight: 300;
  font-family: $titlesans;
}
h5 {
  font-size: em(20);
  line-height: 1.44;
  font-weight: 300;
  font-family: $titlesans;
}

i {
  font-style: italic;
}
b {
  font-weight: 500;
}

.block-quote {
  font-size: 14px;
  line-height: 1.6;
  font-family: $titlesans;
  color: #000;
  position: relative;
  padding: 0 50px 0 155px;

  &:before {
    content: '';
    display: block;
    position: absolute;
    top: 13px;
    left: 50px;
    width: 48px;
    height: 1px;
    background: #000;
    opacity: 0.5;
  }
}

.page-switcher {
  display: flex;

  .title {
    font-size: em(48);
    font-weight: 300;
    line-height: 1.48;
    font-family: $titlesans;
    color: $lightblue;
    margin-right: 32px;
    cursor: pointer;

    &:last-child {
      margin-right: 0;
    }

    h1 {
      font-size: 1em;
    }

    &.active {
      opacity: 1;
      color: #fff;
      cursor: default;
    }
  }
}

ol {
  margin: 0 0 24px;
  counter-reset: list;
  list-style: none;

  li {
    padding-left: 30px;
    position: relative;
    margin: 0 0 15px;

    &:last-child {
      margin: 0;
    }

    &:before {
      counter-increment: list;
      content: counter(list) ".";
      color: $lightblue;
      position: absolute;
      top: 0;
      left: 0;
    }
  }
}

ul {
  margin: 0 0 24px;
  list-style: none;

  li {
    padding-left: 30px;
    position: relative;
    margin: 0 0 15px;

    &:last-child {
      margin: 0;
    }

    &:before {
      content: '';
      background: $lightblue;
      display: block;
      position: absolute;
      // border-radius: 50%;
      top: 8px;
      left: 0;
      width: em(14);
      height: em(1);
    }
  }
}

.page-contain {
  h1 {
    font-size: em(36, 16);
    line-height: 1.4;
    margin-bottom: 24px;

    & + p, & + ul, & + ol {
      margin-top: 0;
    }
  }

  h2 {
    font-size: em(28, 16);
    line-height: 1.4;
    margin-bottom: 24px;

    & + p, & + ul, & + ol {
      margin-top: 0;
    }
  }

  h3 {
    font-size: em(22, 16);
    line-height: 1.4;
    margin-bottom: 24px;

    & + p, & + ul, & + ol {
      margin-top: 0;
    }
  }

  p + p {
    margin-top: 20px;
  }

  p, ul, ol {
    & + h1 {
      margin-top: 48px;
    }
    & + h2 {
      margin-top: 48px;
    }
    & + h3 {
      margin-top: 48px;
    }
  }
}