$blue: #3347F2;
$midblue: #BAD2FC;
$lightblue: #8B91A9;
$darkblue: #04092A;
$cyan: #22EBDF;

// Cards Color:
$cardblue: #F1F5FA;
$carddark: #DCE3EB;

// Red:
$red: #FF004C;


// Disability Colors:
$ddk: #063462;
$ddl: #9dd1ff;
