@font-face {
    font-family: 'PT Russia';
    src: url('~assets/fonts/PT_RussiaText.woff2') format('woff2'),
        url('~assets/fonts/PT_RussiaText.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'TT Jenevers';
    src: url('~assets/fonts/TTJenevers-Medium.woff2') format('woff2'),
        url('~assets/fonts/TTJenevers-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'TT Jenevers';
    src: url('~assets/fonts/TTJenevers-LightItalic.woff2') format('woff2'),
        url('~assets/fonts/TTJenevers-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'TT Jenevers';
    src: url('~assets/fonts/TTJenevers-MediumItalic.woff2') format('woff2'),
        url('~assets/fonts/TTJenevers-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'TT Jenevers';
    src: url('~assets/fonts/TTJenevers-Italic.woff2') format('woff2'),
        url('~assets/fonts/TTJenevers-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'TT Jenevers';
    src: url('~assets/fonts/TTJenevers-Regular.woff2') format('woff2'),
        url('~assets/fonts/TTJenevers-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'TT Jenevers';
    src: url('~assets/fonts/TTJenevers-Light.woff2') format('woff2'),
        url('~assets/fonts/TTJenevers-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}
